h1,h2,h3,h4,h5,h6 {
	margin:0;
    font-family: 'Quicksand', sans-serif;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
    font-family: 'Quicksand', sans-serif;
}


.table {
	width:100%;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding:13px 0;
}

.table-row {
	display:flex;
	width:100%;
	padding: 13px 0px;
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
}